{% extends "home.html" %}

{% block content %}

{% load static %}

<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 my-5 mx-5">
        <div class="container">
                <img src="{% static 'images/main.svg' %}" alt="" class="img-fluid float-start" width=37% title="Software for learning">
                <div class="letras_img_ppal">
                        <p class="letras_img_ppal"><br><br>Software for Education</p>
                        <p class="sub_letras_img_ppal">Build & Use and API Server</p>
                </div>
        
        </div>
</div>


{% endblock %}